<!-- phpunit.xml.dist -->
<phpunit>
    <testsuites>
        <testsuite name="Artifice Test Suite">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
              <!-- These files are tested, but using shell_exec(), which
                   prevent code coverage tracking. -->
              <file>src/Composer/CommandProvider.php</file>
              <file>src/ComposerPlugin.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
